.wordpress,
.wordpress-v2022_2,
.wordpress-v2022_3,
.miscellaneous-page {
  font-family: "Chalkduster", "Futura", "Segoe UI", Arial, Helvetica, sans-serif;
  color: $primaryColor;
  background-color: white;
  background-image: url("../images/Au-Some Blogs Background.png");
  background-size: 90%;
  background-position: center;
  border-left: 20px dotted gray;
  margin: 5%;
  box-shadow: $shadowCenter;

  a,
  a:visited,
  a:hover {
    color: $primaryColor;
  }

  a:hover {
    background: rgba(255, 255, 0, 0.5);
    box-shadow: none;
    border-radius: 0px;
    padding: 0px;
  }
}

.miscellaneous-page {
  font-family: "Futura", "Segoe UI", Arial, Helvetica, sans-serif;
  border-left: 7px dashed black;
}

.table-background,
.table-background-zene {
  border-top: 10px solid rgb(0, 123, 255);
  border-bottom: 10px solid rgb(0, 123, 255);
  background: rgb(2, 164, 254);
  box-shadow: $shadowCenter;
}

.table-background-zeanne {
  border-top: 10px solid #9542ff;
  border-bottom: 10px solid #9542ff;
  background: #a25aff;
  box-shadow: $shadowCenter;
}

.table-background-classroom-table {
  border-top: 10px solid #feb956;
  border-bottom: 10px solid #feb956;
  background: #feb956;
  box-shadow: $shadowCenter;
}

.comic-strip-page-thumbnail .comic-strip-page-number {
  color: $primaryColor;
}

.comic-strip-page-thumbnail-current .comic-strip-page-number,
.comic-strip-page-thumbnail:hover .comic-strip-page-number,
.comic-strip-page-thumbnail:focus .comic-strip-page-number {
  color: $primaryColor;
  background: rgba(0, 205, 0, 0.5);
  border-left: 5px solid rgba(0, 139, 0, 0.7);
  border-right: 5px solid rgba(0, 139, 0, 0.7);
}